
# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform cache and lock files
.terraform/
.terraform.lock.hcl

# Local configuration files
*.log
*.bak

# IDE and editor specific files
.idea/
.vscode/
*.swp